* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}


.upper-part {
    background-color: black;
}


/* 
heading
*/

header {
    border : 1px solid black;
    height : 15vh;
    width : 100%;
}



/* 
main
*/

main {
    width : 100%;
    height : 85vh;
    border : 1px solid black;
    color : white;
}


main .main-text {
    width : 35%;
    border : 1px solid red;
    height : 100%;
    float: left;
    font-size: 28px;
    text-align: left;
}

.main-text .box-wrapper {
    border : 1px solid black;
    width : 80%;
    margin-left: 15%;
    margin-top: 40%;

}

main .main-img {
    width : 65%;
    border : 2px solid green;
    height : 100%;
    float: left;
}

main .main-text h2 {
  
}

main .main-text .punchline {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-weight: 200;
    letter-spacing: 4px; 
}